<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <true/>

	<key>Label</key>
	<string>supd</string>

	<key>ProgramArguments</key>
	<array>
        <string>/usr/bin/supd</string>
        <string>-c</string>
        <string>/etc/supd/supd.ini</string>
	</array>

	<key>WorkingDirectory</key>
    <string>/usr/bin</string>
</dict>
</plist>
